body{
    font-family: 'Monsterrat', sans-serif;
    background: url(../img/bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    max-width: 1390px;
    margin: 0 auto;
    
}
.menu-btn{
    display: none;
}
.header {
    background-color: #EDECF6;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 100%;
    z-index: 1000;
    min-height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    color: #515076;
}

.logo{
    display: inline-block; /* Размещаем лого в том же ряду */
    vertical-align: middle;
    padding-right: 85px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.menu{
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-basis: 1;
    justify-content: flex-start;
}
.nav-item:last-child {
    margin-right: 20px;
}

.form-item:first-child {
    margin-right: 20px;
}

.nav-item{
    padding-right: 40px;
}
.nav-item:hover {
    color: #aaa8f0; 
    transition: color 0.5s;
}
.menu-form {
    display: flex;
    align-items: center;
}
.form-item{
    padding-right: 20px;
    font-weight: 700;
}
.form-item:hover {
    color: #aaa8f0; 
    transition: color 0.5s;
}

.basket-btn {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    border-radius: 30%;
    padding: 10px;
    width: 40%; 
    height: 40%; 
}
.choose {
    font-weight: normal; /* Установите нормальную жирность текста */
    font-size: 70px;
    line-height: 76px;
    color: #757AA5;
    text-align: center;
}
.author-block {
    display: flex;
    margin-bottom: 40px;
    align-items: center; /* Выравниваем элементы по центру */
    background-color: #F7F7FA; /* Цвет фона блока */
    padding: 20px; /* Отступы внутри блока */
    border-radius: 20px; /* Скругление углов блока */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень блока */
}

.author-image {
    width: 50%; /* Ширина изображения будет 50% от ширины родительского блока */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    margin-right: 20px; /* Отступ справа для разделения изображения и информации */
}

.author-image img {
    width: 30em; /* Установите одинаковую ширину для всех фотографий */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    object-fit: cover; /* Растягиваем изображение, чтобы оно полностью заполнило контейнер */
    border-radius: 20px; /* Скругление углов изображения */
}

.author-info {
    flex-grow: 1;
}

.author-info h2 {
    font-size: 3em; /* Используем em для размера шрифта */
    margin-bottom: 10px;
    color: #515076;
}

.author-info p {
    font-size: 1.3em; /* Используем em для размера шрифта */
    line-height: 1.5;
    color: #555;
}

.quote {
    font-style: italic;
    color: #888;
    margin-top: 20px;
}
.footer{
    background-color: #EDECF6;
    color: black;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.footer-title{
    text-align: center;
    font-size: 2rem;
    line-height: 1.4vh;
    font-weight: 200;
    padding: 20px;
}

@media (max-width: 1450px){
    .nav{
        font-size: 1.5rem;
    }
}
@media (max-width: 1350px){
    .nav{
        font-size: 1.6rem;
    }
}

@media (max-width: 1150px){
    .advises .advise-title {
        font-size: 2rem;
    }
    
    .advises .advise-tt {
        font-size: 2.5rem;
    }
    
    .advises .advise-opis {
        font-size: 1.2rem;
    }
    .advises .advise-btn {
        font-size: 1.5rem;
    }
    .footer{
        font-size: 2rem;
    }
}
@media (max-width: 910px){
    .menu-btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 50;
        margin-right: 20px;
        z-index: 1000;
    }
    .logo{
        position: relative;
        z-index: 1001;
        margin-left: 20px;
    }
    .btn-line{
        position: absolute;
        left: 0;
        width: 100%;
        background-color:#515076;
        height: 3px;
        transition: .3s ease;
    }
    .btn-line:nth-child(1){
        top: 0;
    }
    .btn-line:nth-child(2){
        top: 20px;
    }
    .btn-line:nth-child(3){
        top: 20px;
    }
    .btn-line:nth-child(4){
        top: 40px;
    }
    .menu-open .btn-line:nth-child(1){
        transform: scale(0);
    }
    .menu-open .btn-line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu-open .btn-line:nth-child(4){
        transform: scale(0);
    }
    .iphone-news{
        display: none;
    }
    .menu {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #EDECF6;
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center; /* Выравнивание по вертикали */
        flex-direction: column;
        transform: translateY(-100%);
        transition: .3s ease;
        z-index: 1000;
        padding: 10px;
    }
    
    .menu-open .menu {
        transform: translateY(0);
        pointer-events: auto;
    }
    .nav-item,
    .form-item {
        margin: 10px 0;
        display: block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 3.5rem;
    }
    .basket-btn {
        width: 80%; 
        height: 80%; 
    }
    .advises .advise-title {
        font-size: 2rem;
    }
    
    .advises .advise-tt {
        font-size: 2.5rem;
    }
    
    .advises .advise-opis {
        font-size: 2rem;
    }

}