body{
    font-family: 'Monsterrat', sans-serif;
    background: url(../img/bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    max-width: 1390px;
    margin: 0 auto;
    
}
.menu-btn{
    display: none;
}
.header {
    background-color: #EDECF6;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 100%;
    z-index: 1000;
    min-height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    color: #515076;
}

.logo{
    display: inline-block; /* Размещаем лого в том же ряду */
    vertical-align: middle;
    padding-right: 85px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.menu{
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-basis: 1;
    justify-content: flex-start;
}
.nav-item:last-child {
    margin-right: 20px;
}

.form-item:first-child {
    margin-right: 20px;
}

.nav-item{
    padding-right: 40px;
}
.nav-item:hover {
    color: #aaa8f0; 
    transition: color 0.5s;
}
.menu-form {
    display: flex;
    align-items: center;
}
.form-item{
    padding-right: 20px;
    font-weight: 700;
}
.form-item:hover {
    color: #aaa8f0; 
    transition: color 0.5s;
}

.basket-btn {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    border-radius: 30%;
    padding: 10px;
    width: 40%; 
    height: 40%; 
}
.products {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between; /* Равномерное распределение товаров по ширине */
    flex-wrap: wrap;
}
.catalog {
    font-weight: lighter; /* Установите нормальную жирность текста */
    font-size: 100px;
    line-height: 180px;
    color: #757AA5;
    text-align: center;
    border-bottom: 2px solid #515076;
    border-radius: 1px;
}
.close-btn {
    max-width: 50%;
    background-color: #515076;
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: none;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 10px;
}
.product {
    width: 30%; /* Ширина каждого товара */
    text-align: left;
    margin: 10px; /* Отступы между товарами */
    box-sizing: border-box; /* Учитываем отступы в общей ширине */
    flex-wrap: wrap;
    background-color: #F7F7FA;
    border-radius: 20px ;
    padding: 20px; /* Отступы внутри блока товара */
    box-sizing: border-box; /* Учитываем отступы в общей ширине */
}

.product:hover {
    transition: opacity 0.3s;
    opacity: 0.8;
}
.product-image {
    width: 100%; /* Ширина изображения товара */
    height: 300px;
    border-radius: 50px; /* Скругление углов */
}

.product-title {
    margin-top: 10px;
    margin-bottom: 5px; /* Отступ снизу от названия до цены */
    font-size: 2rem;
    line-height: 6vh;
    font-weight: 100;
}

.product-price {
    font-weight: bold;
    display: inline-block; /* Размещаем цену и иконку корзины в одном ряду */
    vertical-align: middle; /* Выравниваем по вертикали */
    font-size: 1.5rem;
    line-height: 2.8vh;
    font-weight: 200;
}

.cart-icon {
    width: 20px;
    height: 20px;
    margin-left: 250px; /* Отступ между ценой и иконкой корзины */
    vertical-align: middle; /* Выравниваем по вертикали */
}


.footer{
    background-color: #EDECF6;
    color: black;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.footer-title{
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 200;
    padding: 20px;
}
@media (max-width: 1450px){
    .nav{
        font-size: 1.5rem;
    }
}
@media (max-width: 1350px){
    .product {
        width: 40%; /* Задаем ширину карточки */
        margin: 40px; /* Задаем отступы между карточками */
        padding: 10px; /* Задаем внутренние отступы */
    }    
    .product-image {
        width: 100%; /* Ширина изображения товара */
        height: 300px;
        border-radius: 50px; /* Скругление углов */
    }
}

@media (max-width: 1150px){
    .product {
        width: 40%; /* Задаем ширину карточки */
        margin: 40px; /* Задаем отступы между карточками */
        padding: 10px; /* Задаем внутренние отступы */
    }    
    .product-image {
        width: 100%; /* Ширина изображения товара */
        height: 300px;
        border-radius: 50px; /* Скругление углов */
    }
    .nav{
        font-size: 1.4rem;
    }
    .footer{
        font-size: 2rem;
    }
}
@media (max-width: 910px){
    .menu-btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 50;
        margin-right: 20px;
        z-index: 1000;
    }
    .logo{
        position: relative;
        z-index: 1001;
        margin-left: 20px;
    }
    .btn-line{
        position: absolute;
        left: 0;
        width: 100%;
        background-color:#515076;
        height: 3px;
        transition: .3s ease;
    }
    .btn-line:nth-child(1){
        top: 0;
    }
    .btn-line:nth-child(2){
        top: 20px;
    }
    .btn-line:nth-child(3){
        top: 20px;
    }
    .btn-line:nth-child(4){
        top: 40px;
    }
    .menu-open .btn-line:nth-child(1){
        transform: scale(0);
    }
    .menu-open .btn-line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu-open .btn-line:nth-child(4){
        transform: scale(0);
    }
    .iphone-news{
        display: none;
    }
    .menu {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #EDECF6;
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center; /* Выравнивание по вертикали */
        flex-direction: column;
        transform: translateY(-100%);
        transition: .3s ease;
        z-index: 1000;
        padding: 10px;
    }
    
    .menu-open .menu {
        transform: translateY(0);
        pointer-events: auto;
    }
    .nav-item,
    .form-item {
        margin: 10px 0;
        display: block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 3.5rem;
    }
    .basket-btn {
        width: 80%; 
        height: 80%; 
    }
    .product {
        text-align: center;
        width: 90%; /* Задаем ширину карточки */
        margin: 20px 0; /* Уменьшаем отступы между карточками */
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }    
    .product-image {
        width: 100%; /* Ширина изображения товара */
        height: 200px;
    }
    .product-title {
        margin-top: 10px;
        margin-bottom: 5px; /* Отступ снизу от названия до цены */
        font-size: 3rem;
        line-height: 4vh;
        font-weight: 100;
    }
    
    .product-price {
        font-weight: bold;
        display: inline-block; /* Размещаем цену и иконку корзины в одном ряду */
        vertical-align: middle; /* Выравниваем по вертикали */
        font-size: 3rem;
        line-height: 2.8vh;
        font-weight: 200;
    }
}