body{
    font-family: 'Monsterrat', sans-serif;
    background: url(../img/bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    max-width: 1390px;
    margin: 0 auto;
    
}
.menu-btn{
    display: none;
}
.header {
    background-color: #EDECF6;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 100%;
    z-index: 1000;
    min-height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    color: #515076;
}

.logo{
    display: inline-block; /* Размещаем лого в том же ряду */
    vertical-align: middle;
    padding-right: 85px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.menu{
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-basis: 1;
    justify-content: flex-start;
}
.nav-item:last-child {
    margin-right: 20px;
}

.form-item:first-child {
    margin-right: 20px;
}

.nav-item{
    padding-right: 40px;
}
.nav-item:hover {
    color: #aaa8f0; 
    transition: color 0.5s;
}
.menu-form {
    display: flex;
    align-items: center;
}
.form-item{
    padding-right: 20px;
    font-weight: 700;
}
.form-item:hover {
    color: #aaa8f0; 
    transition: color 0.5s;
}

.basket-btn {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    border-radius: 30%;
    padding: 10px;
    width: 40%; 
    height: 40%; 
}
.form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150vh;
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 50px auto 0; /* Центрирование блока по горизонтали и добавление отступа сверху */
}


form {
    width: 100%;
}

h2 {
    margin-bottom: 1em; /* Отступ снизу заголовка 1em */
    color: #515076;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 1em; /* Внутренние отступы 1em */
    margin-bottom: 1em; /* Отступ снизу элементов ввода 1em */
    border: 1px solid #ccc;
    border-radius: 0.5em; /* Скругление углов */
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 1em; /* Внутренние отступы 1em */
    background-color: #515076;
    color: #fff;
    border: none;
    border-radius: 0.5em; /* Скругление углов */
    cursor: pointer;
}

button:hover {
    background-color: #3a3a5f;
} 
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #EDECF6;
    color: black;
    padding: 20px 0;
    text-align: center;
}

.footer-title {
    text-align: center;
    font-size: 2rem;
    line-height: 1.4vh;
    font-weight: 200;
    padding: 10px;
}
@media (max-width: 1450px){
    .nav{
        font-size: 1.5rem;
    }
}

@media (max-width: 1150px){
    .nav{
        font-size: 1.4rem;
    }
    .footer{
        font-size: 2rem;
    }
}
@media (max-width: 910px){
    .menu-btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 50;
        margin-right: 20px;
        z-index: 1000;
    }
    .logo{
        position: relative;
        z-index: 1001;
        margin-left: 20px;
    }
    .btn-line{
        position: absolute;
        left: 0;
        width: 100%;
        background-color:#515076;
        height: 3px;
        transition: .3s ease;
    }
    .btn-line:nth-child(1){
        top: 0;
    }
    .btn-line:nth-child(2){
        top: 20px;
    }
    .btn-line:nth-child(3){
        top: 20px;
    }
    .btn-line:nth-child(4){
        top: 40px;
    }
    .menu-open .btn-line:nth-child(1){
        transform: scale(0);
    }
    .menu-open .btn-line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu-open .btn-line:nth-child(4){
        transform: scale(0);
    }
    .iphone-news{
        display: none;
    }
    .menu {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #EDECF6;
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center; /* Выравнивание по вертикали */
        flex-direction: column;
        transform: translateY(-100%);
        transition: .3s ease;
        z-index: 1000;
        padding: 10px;
    }
    
    .menu-open .menu {
        transform: translateY(0);
        pointer-events: auto;
    }
    .nav-item,
    .form-item {
        margin: 10px 0;
        display: block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 3.5rem;
    }
    .basket-btn {
        width: 80%; 
        height: 80%; 
    }
    .form-container {
        width: 100%;
        max-width: 250px;
    }
}